.bodyindex{
    background-image: url('https://images.unsplash.com/photo-1549080876-457984b78535?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
}
.bodyListas{
    background-image: url('https://images.unsplash.com/photo-1523878288860-7ad281611901?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80');
}
.bodyCreadas{
    background-color: black;
}
.bodyBuscar{
    background-color: black;
}